extends ./layouts/base.pug
    block contnet
        section.search  
            form(action="/" method="get")
                select(name="seq")
                    option(value="title") 제목
                    option(value="author") 작가
                input(type="text" name="searchValue" placeholder="검색어를 입력하세요")
                input(type="submit" value="Search")
        section.bookList
            ul
                li 번호
                li 제목
                li 위치
                li 작가
                li 금액
        section.bookDataList
            each data in books 
                ul
                    li 1
                    li #{data.title}
                    li #{data.location}
                    li #{data.author}
                    li #{data.price} 원
